<!DOCTYPE html>
<html>
	<head>
		<% include /partials/head.ejs %>
		<% include /partials/flairs.ejs %>
	</head>
	<body>
		<% include /content/index.ejs %>
		<% include /partials/footer.ejs %>
	</body>
</html>
